<!-- About Section -->
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">About</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="author wow zoomIn">
					<img src="{{ site.author.head_img | prepend: site.baseurl }}" height="200" width="200" class="img-responsive img-circle" alt="">
					<h4><span class="navy">{{ site.author.first_name }}</span> {{ site.author.last_name }}</h4>
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="col-xs-12 text-center">
				<p class="section-subheading text-muted">Software Developer. UWaterloo graduate.</p>
			</div>
		</div>
	</div>
</section>