<!-- Career Section -->
	<section id="career">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Career</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<ul class="timeline">
						<li>
							<div class="timeline-icon">
								<i class="fa fa-code"></i>
							</div>
							<div class="timeline-panel wow rotateInUpRight">
								<div class="timeline-heading">
									<h4>Apr. 2016</h4>
									<h4 class="subheading">Software Developer I</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">I am currently a Augmented Reality applications developer.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-icon">
								<i class="fa fa-code"></i>
							</div>
							<div class="timeline-panel wow rotateInUpLeft">
								<div class="timeline-heading">
									<h4>Apr. 2015</h4>
									<h4 class="subheading">Software Developer</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Prototyping Augmented Reality applications to demonstrate the benefits.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-icon">
								<i class="fa fa-code"></i>
							</div>
							<div class="timeline-panel wow rotateInUpRight">
								<div class="timeline-heading">
									<h4>May 2014</h4>
									<h4 class="subheading">Software Designer</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Researched several methods for 3D model matching and prototyping using Python.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-icon">
								<i class="fa fa-mobile" aria-hidden="true"></i>
							</div>
							<div class="timeline-panel wow rotateInUpLeft">
								<div class="timeline-heading">
									<h4>Sep. 2013</h4>
									<h4 class="subheading">Automated Test Associate</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Developed and maintained test scripts for several core APIs for the Blackberry OS 10.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-icon">
								<i class="fa fa-camera" aria-hidden="true"></i>
							</div>
							<div class="timeline-panel wow rotateInUpRight">
								<div class="timeline-heading">
									<h4>Jan. 2013</h4>
									<h4 class="subheading">Software Developer</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Contributed in prototyping an image system which used Time-of-Flight sensors.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-icon">
								<i class="fa fa-code"></i>
							</div>
							<div class="timeline-panel wow rotateInUpLeft">
								<div class="timeline-heading">
									<h4>May 2011</h4>
									<h4 class="subheading">Software Developer</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Implemented APIs and new features to the backend for Point-of-Sales printers on Linux Operating System using C++.</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
</section>