<section id="post">
	<div class="container">
		<div class="row">
			<div class="post-info col-lg-10 col-lg-offset-1">
				<a>#{{ page.category }}</a><i class="fa fa-clock-o"></i> <a>{{ page.date | date: "%-d %b %Y" }}</a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="navy-line"></div>
				<h1>{{ page.title }}</h1>
			</div>
		</div>
		<div class="row animated fadeInRight article">
			<div class="content col-lg-10 col-lg-offset-1">
				{{ content }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-lg-offset-1">
				<h5>Tags:</h5>
				{% for tag in page.tags %}
					<button class="btn btn-white btn-xs" type="button">{{ tag }}</button>
				{% endfor %}
			</div>
			<div class="col-md-5">
				<div class="small text-right">
					<h5>Stats:</h5>
					<div>
						{% if site.disqus %}
							<i class="fa fa-comments-o"> </i> <span class='disqus-comment-count' data-disqus-url="{{ site.url }}{{ page.url }}">0</span> comments
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>