/*!
 * Post list CSS
 */
section .post-list {
    list-style: none;
}

section .post-item {
    border-color: #000000;
	padding-top: 25px;
	padding-bottom: 25px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    color: #{{ site.data.template.color.muted }};
}

section .post-item:hover {
    background-color: #FBFCFC;
}

section .post-item>a {
    color: #{{ site.data.template.color.muted }};
}

section .post-item>.post-info {
	font-size: 11px;
	margin-bottom: 15px;
}

section .post-item>.post-info>a {
    color: #{{ site.data.template.color.muted }};
	margin-right: 10px;
}

section .post-item>.post-title {
	font-size: 30px;
}

section .post-item>.post-description {
	font-family: {{ site.data.template.font.secondary }};
}

/*!
 * Post CSS
 */
section#post {
    #border-color: #000000;
	padding-top: 25px;
	padding-bottom: 25px;
    #border-style: solid;
    #border-width: 2px 2px 2px 2px;
    color: #000000;
}

section#post .post-info {
	font-size: 13px;
	margin-bottom: 15px;
}

section#post .post-info>a {
	margin-right: 10px;
    color: #{{ site.data.template.color.muted }};
}

section#post .content{
	font-family: {{ site.data.template.font.secondary }};
    color: #{{ site.data.template.color.muted }};
}

section#post .content img {
	width: 100%;
}
